@page
@model Proyecto.SitioWeb.App.Pages.ListModel
@{
}
<h1>Listado de Clientes</h1>>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Genero</th>
            <th>Ciudad</th>
            <th>Pais</th>
            <th>Casos</th>

            <th>Borrar</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model.clientes)
        {
        <tr>
            <td>@cliente.nombre</td>
            <td>@cliente.apellido</td>
            <td>@cliente.edad</td>
            <td>@cliente.genero</td>

            <!-- validar que el cliente tenga una ciudad y un pais asignado -->

            @if(cliente.ciudad == null)
            {
                <td style="color:blue">No hay una ciudad asociada</td>

            }else
            {
                <td>@cliente.ciudadId - @cliente.ciudad.nombreCiudad</td>
            }

            @if(cliente.pais== null)
            {
                <td style="color:blue">No hay un pais asociado</td>

            }else
            {
                <td>@cliente.paisId - @cliente.pais.nombrePais</td>
                
            }

            <!-- Descripción del caso-->

            <td>
                @foreach (var caso in cliente.casos)
                {
                   <p>CASO: @caso.fechaInicioCaso - @caso.descripcion</p> 
                }
            </td>


            <td>
                <a class="btn btn-danger" asp-page=".\Delete" asp-route-id="@cliente.clienteId">Borrar</a>
            </td>

            <td>
                <a class="btn btn-info" asp-page=".\Edit" asp-route-id="@cliente.clienteId">Editar</a>
            </td>
        </tr>
            
        }

    </tbody>
</table>
<td>
    <a class="btn btn-success" asp-page=".\Create">Crear cliente</a>
</td>
